// import profiles and workflow SHA from core
includeConfig "base.config"

// define workflow params
params {
    help = false
    version = false
    fastq = null
    bam = null
    db_directory = null
    threads = 4
    host_reference = null
    regions_bedfile = null
    approx_size = 7000
    assm_coverage = 60
    trim_length = 0
    min_quality = 9
    prefix = null
    primers = null
    insert_reference = null
    sample = null
    sample_sheet = null
    disable_ping = false
    analyse_unclassified = false
    override_basecaller_cfg = null
    medaka_model_path = null
    flye_quality = "nano-hq"
    non_uniform_coverage = false
    large_construct = false
    full_reference = null
    cutsite_mismatch = 1
    primer_mismatch = 2
    expected_coverage = 95
    expected_identity = 99
    
    assembly_tool = "flye"
    canu_fast = false
    client_fields = null

    store_dir = null

    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'

    wf {
      example_cmd = [
          "--fastq 'wf-clone-validation-demo/fastq'",
          "--primers 'wf-clone-validation-demo/primers.tsv'",
          "--sample_sheet 'wf-clone-validation-demo/sample_sheet.csv'"
      ]
      agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-clone-validation'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-clone-validation'
    description     = 'De-novo reconstruction of synthetic plasmid sequences.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v1.8.0'
}

epi2melabs {
  tags = "wf-clone-validation,plasmid,denovo,annotation,assembly"
}
