//
// Notes to End Users.
//
// The workflow should run without editing this configuration file,
// however there may be instances in which you wish to edit this
// file for compute performance or other reasons. Please see:
//
//   https://nextflow.io/docs/latest/config.html#configuration
//
// for further help editing this file.


params {
    help = false
    version = false
    out_dir = "output"
    fastq = null
    db_directory = null
    threads = 4
    host_reference = null
    regions_bedfile = null
    approx_size = 7000
    assm_coverage = 60
    trim_length = 150
    prefix = null
    primers = null
    insert_reference = null
    sample = null
    sample_sheet = null
    disable_ping = false
    analyse_unclassified = false
    basecaller_cfg = "dna_r10.4.1_e8.2_400bps_sup@v4.2.0"
    medaka_model = null
    flye_quality = "nano-hq"
    non_uniform_coverage = false
    large_construct = false
    
    monochrome_logs = false
    validate_params = true
    show_hidden_params = false
    schema_ignore_params = 'show_hidden_params,validate_params,monochrome_logs,aws_queue,aws_image_prefix,wf'

    wf {
      example_cmd = [
          "--fastq 'wf-clone-validation-demo/test'",
          "--primers 'wf-clone-validation-demo/primers.tsv'",
      ]
      container_sha = "sha840e83632b197d53e8d182e5804ac8429f235d51"
      container_sha_medaka = "sha61a9438d745a78030738352e084445a2db3daa2a"
      common_sha = "sha1c5febff9f75143710826498b093d9769a5edbb9"
      agent = null
    }
}

manifest {
    name            = 'epi2me-labs/wf-clone-validation'
    author          = 'Oxford Nanopore Technologies'
    homePage        = 'https://github.com/epi2me-labs/wf-clone-validation'
    description     = 'De-novo reconstruction of synthetic plasmid sequences.'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.2'
    version         = 'v1.1.0'
}

epi2melabs {
  tags = "plasmid,denovo,annotation"
}

// used by default for "standard" (docker) and singularity profiles,
// other profiles may override.
process {
    withLabel:wfplasmid {
        container = "ontresearch/wf-clone-validation:${params.wf.container_sha}"
    }
    withLabel:medaka {
        container = "ontresearch/medaka:${params.wf.container_sha_medaka}"
    }
    withLabel:wf_common {
        container = "ontresearch/wf-common:${params.wf.common_sha}"
    }
    shell = ['/bin/bash', '-euo', 'pipefail']
}

profiles {
    // the "standard" profile is used implicitely by nextflow
    // if no other profile is given on the CLI
    standard {
        docker {
            enabled = true
            // this ensures container is run as host user and group, but
            //    also adds host user to the within-container group
            runOptions = "--user \$(id -u):\$(id -g) --group-add 100"
        }
    }

    // using singularity instead of docker
    singularity {
        singularity {
            enabled = true
            autoMounts = true
        }
    }

    conda {
        conda.enabled = true
    }

    // Using AWS batch.
    // May need to set aws.region and aws.batch.cliPath
    awsbatch {
        process {
            executor = 'awsbatch'
            queue = "${params.aws_queue}"
            memory = '8G'
            withLabel:wfplasmid {
                container = "${params.aws_image_prefix}-wf-clone-validation:${params.wf.container_sha}-root"
            }
            withLabel:medaka {
                container = "${params.aws_image_prefix}-medaka:${params.wf.container_sha_medaka}-root"
            }
            withLabel:wf_common {
                container = "${params.aws_image_prefix}-wf-common:${params.wf.common_sha}"
            }
            shell = ['/bin/bash', '-euo', 'pipefail']
        }
    }
    aws.region = 'eu-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

    // local profile for simplified development testing
    local {
        process.executor = 'local'
    }
}

timeline {
  enabled = true
  file = "${params.out_dir}/execution/timeline.html"
  timeline.overwrite = true
}
report {
  enabled = true
  file = "${params.out_dir}/execution/report.html"
  report.overwrite = true
}
trace {
  enabled = true
  file = "${params.out_dir}/execution/trace.txt"
  trace.overwrite = true
}
env {
    PYTHONNOUSERSITE = 1
}
